

<footer class="footer">
    <div class="footer__social">
        <a href="#" class="social__link"><i class="footer__icon icon-f fab fa-facebook-f"></i></a>
        <a href="#" class="social__link"><i class="footer__icon icon-t fab fa-twitter"></i></a>
        <a href="#" class="social__link"><i class="footer__icon icon-i fab fa-instagram"></i></a>
    </div>
    <div class="footer__categories">
        <h1 class="categories__title">categories</h1>
        <ul class="footer__grid categories__list">
            <li class="categories__item"><a href="/tags/sportswear" class="categories__link">sportswear</a></li>
            <li class="categories__item"><a href="/tags/merch" class="categories__link">merch</a></li>
            <li class="categories__item"><a href="/tags/korean" class="categories__link">korean</a></li>
            <li class="categories__item"><a href="/tags/handbag" class="categories__link">handbag</a></li>
            <li class="categories__item"><a href="/tags/winterwear" class="categories__link">winter wear</a></li>
        </ul>



    </div>
    <hr class="footer__line">
    <div class="promises">
        <h3 class="promises__title promises__left">original products</h3>
        <h3 class="promises__title promises__right">100% buyer protection</h3>
    </div>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
    integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
    crossorigin="anonymous"></script>
<script src="/scripts/header.js"></script>


<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->


</body>

</html>