
.order__wrapper {
	width:90%;
	margin:2em auto;
}

.cart__title {
	font-size: 2.3rem;
	font-weight: 600;
	margin-bottom: 0.7em;
}
.wrapper__total {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--cart--total-title-text);
}
.total__amount {
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--cart--total-amount-text);
}
.checkout__btn {
	font-size: 1.3rem;
	background-color: var(--cart-checkoutBtn-bg);
	color: var(--cart-checkoutBtn-text);
	margin-left: 1em;

	padding: 0.3em 1em;
	border: none;
	border-radius: 8px;
	opacity:1;
}

.checkout__btn:hover{
	cursor:pointer;
	opacity:0.8;
}
.wrapper__title {
	font-size: 2rem;
	color: grey;
	margin-bottom: 20px;
}
.order__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}

.orders {
	display: grid;
	grid-gap: 3em;
	grid-template-columns: repeat(auto-fill, minmax(50px, 500px));
}

.order {
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(2, 1fr);
}

.order__image {
	max-width: 100%;
	height: auto;
	display: block;
}
.order__size {
	width: 15%;
	margin-top: 1.7em;
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 3px solid var(--cart-size-border);
	color: var(--cart-size-text);
}

.order__info {
	display: grid;
	padding: 1em;
	grid-gap: 0.3em;
}

.order__name {
	font-size: 1.1rem;
	font-weight: 600;
}

.order__footer {
	display: flex;
	justify-content: space-between;
	margin: 2em 0;
}
.order__price {
	font-size: 1.5rem;
	font-weight: 400;
}

.order__quantity {
	color: var(--cart-quantity-text);
}

.order__quantity::before {
	content: '';
	position: absolute;
	width: 2em;
	height: 2em;
	transform: translate(-20%, -20%);
	border-radius: 50%;
	background-color: var(--cart-quantity-bg);
	z-index: -5;
}

.order__delete__btn {
	width: 4em;
	height: 2em;
	font-size: 1.2rem;

	background-color: var(--cart-deleteBtn-bg);
	color: var(--cart-deleteBtn-text);
	padding: 0.3em 0.5em;
	border: none;
	border-radius: 8px;
}

.order__delete__btn:hover,.order__delete__btn:focus{
	background-color: var(--cart-deleteBtn-bg);
	color: var(--cart-deleteBtn-text);
	cursor:pointer;
	opacity:0.8;
}

.aos-init:not(.aos-animate):after {
position: fixed;
}
.not__found {
	text-align: center;
	padding: 1em 2em 0;
	width: 90%;
	height: 50vh;
}
.not__found__text {
	font-size: 1.9rem;
	color: grey;
	font-weight: 700;
	margin-bottom: 1em;
	text-transform: capitalize;
}
.not__found__img {
	height: 70%;
	width: 100%;
	background-image: url("/images/empty_wishlist.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

