<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<%-include('partials/header')%>
    <%-include('partials/searchForm')%>

        <%if(success && success.length>0){%>
            <p style="color:green">
                <%=success%>
            </p>

            <%}%>



                <div class="hero">
                    <div class="hero__text" data-aos="fade-right" data-aos-delay="300" data-aos-once="true"
                        data-aos-duration="400">
                        <h1 class="hero__title"><span class="hero__stay">stay</span> trendy!</h1>
                        <p class="hero__leading">choose handpicked clothes for the womens
                        </p>
                    </div>
                    <div class="hero__image" data-aos="zoom-in" data-aos-delay="700" data-aos-duration="700"
                        data-aos-once="true">

                    </div>
                </div>

                <main class="main">
                    <section class="showcase">
                        <h1 class="showcase__title">casuals</h1>

                        <div class="carousel"
                            data-flickity='{ "pageDots":false,"cellAlign": "left", "contain": true,"freeScroll":true }'>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/shirt"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
                                        data-aos-duration="200"
                                        src="https://i.pinimg.com/564x/31/9c/36/319c36252cfa2c007bf7efd6ccfc357d.jpg"
                                        alt="shirt"></a>
                                <p class="carousel__title">shirt</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/tshirt"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="200" data-aos-once="true"
                                        data-aos-duration="300"
                                        src="https://i.pinimg.com/564x/0f/21/55/0f2155be074fb091a18d71710f51c8d0.jpg"
                                        alt="tshirt"></a>
                                <p class="carousel__title">tshirt</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/pants"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="300" data-aos-once="true"
                                        data-aos-duration="400"
                                        src="https://i.pinimg.com/564x/7f/d9/25/7fd92594919c59277221b51f037b2ae0.jpg"
                                        alt="pants"></a>
                                <p class="carousel__title">pants</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/skirt"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="400" data-aos-once="true"
                                        data-aos-duration="500"
                                        src="https://i.pinimg.com/564x/eb/32/48/eb3248173de8c1231d06333c1968b679.jpg"
                                        alt="skirt"></a>
                                <p class="carousel__title">skirts</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/shorts"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="500" data-aos-once="true"
                                        data-aos-duration="600"
                                        src="https://i.pinimg.com/564x/4c/1f/a6/4c1fa6cd001dee58124387a7b57dc0d0.jpg"
                                        alt="shorts"></a>
                                <p class="carousel__title">shorts</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/dresses"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="600" data-aos-once="true"
                                        data-aos-duration="700"
                                        src="https://i.pinimg.com/564x/e9/ce/f5/e9cef5e03c8091e6599adecdec8b0d33.jpg"
                                        alt="dresses"></a>
                                <p class="carousel__title">dresses</p>

                            </div>




                        </div>
                    </section>
                    <section class="showcase">
                        <h1 class="showcase__title">ethnic</h1>

                        <div class="carousel"
                            data-flickity='{ "pageDots":false,"cellAlign": "left", "contain": true,"freeScroll":true }'>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/saree"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
                                        data-aos-duration="200"
                                        src="https://i.pinimg.com/564x/ff/04/30/ff0430661f4007c5b97df08b2f46af89.jpg"
                                        alt="saree"></a>
                                <p class="carousel__title">saree</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/suit"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="200" data-aos-once="true"
                                        data-aos-duration="300"
                                        src="https://i.pinimg.com/564x/02/8c/01/028c01a3d2127ba3688de92497e25435.jpg"
                                        alt="suit"></a>
                                <p class="carousel__title">suit</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/lehenga"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="300" data-aos-once="true"
                                        data-aos-duration="400"
                                        src="https://i.pinimg.com/564x/84/6a/58/846a58f6ef2ff484437432396b4c5687.jpg"
                                        alt="lehenga"></a>
                                <p class="carousel__title">lehenga</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/kurti"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="400" data-aos-once="true"
                                        data-aos-duration="500"
                                        src="https://i.pinimg.com/564x/ec/3c/d1/ec3cd100b57bea2102b411cd5cf18917.jpg"
                                        alt="kurti"></a>
                                <p class="carousel__title">kurti</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/dupatta"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="500" data-aos-once="true"
                                        data-aos-duration="600"
                                        src="https://i.pinimg.com/564x/5b/c1/2d/5bc12d3587224e45e06fbff8c8b2ed3d.jpg"
                                        alt="dupatta"></a>
                                <p class="carousel__title">dupatta</p>

                            </div>
                            <div class="carousel__cell">
                                <a class="carousel__link" href="/tags/palazzo"><img class="carousel__image"
                                        data-aos="fade-up" data-aos-delay="600" data-aos-once="true"
                                        data-aos-duration="700"
                                        src="https://i.pinimg.com/564x/20/b8/44/20b84403f4a0030c34bf779a1250cb4b.jpg"
                                        alt="palazzo"></a>
                                <p class="carousel__title">palazzo</p>

                            </div>



                        </div>
                    </section>


                    <section class="showcase">
                        <h1 class="showcase__title">categories</h1>
                        <div class="categories__container">
                            <a href="/tags/sportswear" class="category__link">
                                <img src="https://i.pinimg.com/564x/91/88/27/9188276d3ff544b4cc63bb0acb258f3a.jpg"
                                    alt="sportswear" class="category__image" data-aos="fade-right" data-aos-delay="200"
                                    data-aos-once="true" data-aos-duration="500">
                                <p class="category__title">sportswear</p>

                            </a>
                            <a href="/tags/korean" class="category__link">
                                <img src="https://i.pinimg.com/564x/4e/4a/86/4e4a86af0be4a9e7cef26f25bc948e42.jpg"
                                    alt="korean" class="category__image" data-aos="fade-left" data-aos-delay="500"
                                    data-aos-once="true" data-aos-duration="800">
                                <p class="category__title">korean</p>

                            </a>


                            <a href="/tags/merch" class="category__link">
                                <img src="https://i.pinimg.com/564x/91/28/82/912882d81f54e34853c4c132feca88a6.jpg"
                                    alt="merch" class="category__image" data-aos="fade-right" data-aos-delay="200"
                                    data-aos-once="true" data-aos-duration="500">
                                <p class="category__title">merch</p>

                            </a>
                            <a href="/tags/handbag" class="category__link">
                                <img src="https://i.pinimg.com/564x/72/66/a4/7266a4e31230de43506ca7577e520dc7.jpg"
                                    alt="handbag" class="category__image" data-aos="fade-left" data-aos-delay="500"
                                    data-aos-once="true" data-aos-duration="800">
                                <p class="category__title">handbag</p>

                            </a>
                            <a href="/tags/winterwear" class="category__link">
                                <img src="https://i.pinimg.com/564x/1b/ae/56/1bae56383c6d09d7000e639b1e5c7c34.jpg"
                                    alt="winterwear" class="category__image" data-aos="fade-right" data-aos-delay="200"
                                    data-aos-once="true" data-aos-duration="500">
                                <p class="category__title">winterwear</p>

                            </a>
                            <a href="/tags/swimsuit" class="category__link">
                                <img src="https://i.pinimg.com/564x/bd/10/ab/bd10ab49d32ab674f1c0cf37fc267742.jpg"
                                    alt="swimsuits" class="category__image" data-aos="fade-left" data-aos-delay="500"
                                    data-aos-once="true" data-aos-duration="800">
                                <p class="category__title">swimsuits</p>

                            </a>

                        </div>
                    </section>

                    <section class="brands">
                        <h1 class="showcase__title">brands</h1>
                        <div class="brands__carousel"
                            data-flickity='{ "wrapAround":true,"autoPlay":800,"pageDots":false,"cellAlign": "left", "contain": true,"freeScroll":true }'>
                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/fila.png" alt="fila" class="brand__image">

                                </a>
                            </div>
                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/h&m.png" alt="h&m" class="brand__image">

                                </a>
                            </div>
                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/puma.png" alt="puma" class="brand__image">

                                </a>
                            </div>
                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/nike.jpeg" alt="nike" class="brand__image">

                                </a>
                            </div>
                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/varsace.jpeg" alt="varsace" class="brand__image">

                                </a>
                            </div>
                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/gcci.jpeg" alt="gucci" class="brand__image">

                                </a>
                            </div>

                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/wrogn.png" alt="wrogn" class="brand__image">

                                </a>
                            </div>

                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/polo.png" alt="polo" class="brand__image">

                                </a>
                            </div>

                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/adidas.png" alt="adidas" class="brand__image">

                                </a>
                            </div>

                            <div class="brand__cell">
                                <a href="#" class="brand__link">
                                    <img src="images/gap.png" alt="gap" class="brand__image">

                                </a>
                            </div>




                        </div>
                    </section>


                    <section class="poster">
                        <h1 class="poster__title showcase__title">winter collection</h1>
                        <div class="poster__container">
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/04/3e/a4/043ea41c788290f574a4d290f6310a0b.jpg"
                                    alt="item1" data-aos="flip-left" data-aos-delay="100" data-aos-once="true"
                                    data-aos-duration="200">
                            </a>
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/35/86/cb/3586cbd57bd47b8c3419ccf1b97387b9.jpg"
                                    alt="item2" data-aos="flip-left" data-aos-delay="200" data-aos-once="true"
                                    data-aos-duration="300">
                            </a>
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/66/71/6d/66716d3a7198c8709a3d158ef3635b15.jpg"
                                    alt="item3" data-aos="flip-left" data-aos-delay="300" data-aos-once="true"
                                    data-aos-duration="400">
                            </a>
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/32/ee/df/32eedf46143c01802c417f52f2e66fdb.jpg"
                                    alt="item2" data-aos="flip-left" data-aos-delay="400" data-aos-once="true"
                                    data-aos-duration="500">
                            </a>
                        </div>
                    </section>



                    <section class="poster">
                        <h1 class="poster__title showcase__title">Tshirt</h1>
                        <div class="poster__container">
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/63/e2/1e/63e21e9a94189c14165ad39060065ffd.jpg"
                                    alt="item1" data-aos="flip-left" data-aos-delay="100" data-aos-once="true"
                                    data-aos-duration="200">
                            </a>
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/f9/f7/62/f9f762652e6380afc78c1bdf7cdaeab0.jpg"
                                    alt="item2" data-aos="flip-left" data-aos-delay="200" data-aos-once="true"
                                    data-aos-duration="300">
                            </a>
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/46/96/f0/4696f057dbb37ac904895e9ba628eadf.jpg"
                                    alt="item3" data-aos="flip-left" data-aos-delay="300" data-aos-once="true"
                                    data-aos-duration="400">
                            </a>
                            <a href="#" class="container__link">
                                <img class="poster__img"
                                    src="https://i.pinimg.com/564x/c8/28/2a/c8282abf9f590876ae4555178edda6db.jpg"
                                    alt="item2" data-aos="flip-left" data-aos-delay="400" data-aos-once="true"
                                    data-aos-duration="500">
                            </a>
                        </div>
                    </section>

                    <section class="showoff">
                        <a href="#" class="showoff__image" style="background-image: url(/images/poster-waves.jpg);"></a>
                    </section>
                    <section class="showoff">
                        <a href="#" class="showoff__image"
                            style="background-image: url(/images/poster-style.jpg);"></a></a>
                    </section>
                    <section class="showoff">
                        <a href="#" class="showoff__image"
                            style="background-image: url(/images/poster-kawaii.jpg);"></a></a>
                    </section>
                    <section class="showoff">
                        <a href="#" class="showoff__image"
                            style="background-image: url(/images/poster-lehenga.jpg);"></a></a>
                    </section>
                    <section class="showoff">
                        <a href="#" class="showoff__image"
                            style="background-image: url(/images/poster-skirt.jpg);"></a></a>
                    </section>

                </main>


                <%-include('partials/footer')%>
                    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>