
.products {
  margin-top: 1em;
  padding: 0.8em;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30vw,1fr));
  grid-auto-rows: 44vh;
  grid-gap:1em;
}

.product__header {
  width: 100%;
  height: 75%;
}
.product__footer {
  height: calc(25%-1em);
  padding: 0.5em;
}

.product {
  display: block;
  width:100%;
  height:100%;
}

.product__image {
  width:100%;
 
  height: 100%;
  display: block;
  border-radius: 8px;
}

.product__down {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  width: 2em;
  height: 2em;
  border: 2px solid var(--heart-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:transform 0.1s ease-in;
}

.heart:hover{
	/* border-color:black; */
	transform:scale(1.1);
	
}
.heart:hover .heart__icon{
	color: var(--heart-icon-active-text);
}

.heart__icon {
  font-size: 1.2rem;
  color:var(--heart-icon-text);
  cursor: pointer;
  position: relative;
}


.heart__icon.added {
  color:var(--heart-icon-active-text);
}

.product__name {
  font-size: 0.9rem;
  font-weight: 100;
  color:var(--products-product-name-text);
  margin-bottom:1em;
  text-transform: capitalize;
}

.product__price {
  font-size: 1.2rem;
  font-weight: 500;
  color:var(--products-product-price-text);
}

.wishlist {
  position: absolute;
  top: 9px;
  right: 8px;
}

.wishlist button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: grey;
}

.aos-init:not(.aos-animate):after {
  position: fixed;
}

.not__found {
  text-align: center;
  padding: 1em 2em 0;
  margin: 2em auto;
  width: 90%;
  height: 50vh;
}
.not__found__text {
  font-size: 1.9rem;
  color: grey;
  font-weight: 700;
  margin-bottom: 2em;
  text-transform: capitalize;
}
.not__found__img {
  height: 90%;
  width: 100%;
  background-image: url("/images/products_not_found.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
