
<link rel="stylesheet" href="/stylesheets/developers.css">
<%-include('../partials/header')%>



<div class="dev-wrapper">
    <%-include('../partials/backArrow')%>
    <h1 class="dev__title">Developers</h1>
    <div class="devs">
        <div class="dev">
            <div class="dev__header">
                <img class="dev__image" src="https://i.pinimg.com/564x/5a/a8/77/5aa877e0d6f7252bb6cec3e39d191615.jpg" alt="person">
            </div>
            <div class="dev__info">
                <h4 class="dev__name">
                    Rajneesh Verma
                </h4>
                <p class="dev__credit">Frontend Dev</p>
                <p class="dev__credit">Backend Dev</p>
                <a class="dev__social__link" target="_blank" href="https://github.com/unicorncoder977/pleasurefashion"><i class="dev__social__icon fab fa-github"></i></a>

            </div>

        </div>

      

        <div class="dev">
            <div class="dev__header">
                <img class="dev__image"
                    src="https://i.pinimg.com/564x/f4/41/17/f44117f80503e0919e70878970ad505d.jpg"
                    alt="person">
            </div>
            <div class="dev__info">
                <h4 class="dev__name">
                    Harshit Tiwari
                </h4>
               <!-- <p class="dev__credit">User Experience</p>-->
                <p class="dev__credit">Project Planning</p>
                <a class="dev__social__link" target="_blank" href="https://www.instagram.com/harshit_21122002/"><i
                        class="dev__social__icon fab fa-instagram"></i></a>
        
            </div>
        
        </div>

        <div class="dev">
            <div class="dev__header">
                <img class="dev__image"
                    src="https://i.pinimg.com/564x/57/b7/f9/57b7f9f27e7505dc2d0beab162069dcf.jpg"
                    alt="person">
            </div>
            <div class="dev__info">
                <h4 class="dev__name">
                    Aman Qurashi
                </h4>
                <p class="dev__credit">Testing</p>
                <p class="dev__credit">Security</p>
                <a class="dev__social__link" target="_blank" href="https://www.instagram.com/qurashiaman135/"><i
                        class="dev__social__icon fab fa-instagram"></i></a>
        
            </div>
        
        </div>

        <div class="dev">
            <div class="dev__header">
                <img class="dev__image" src="https://i.pinimg.com/280x280_RS/6f/fe/65/6ffe652c9072df8c439b93aa044d7e3a.jpg"
                    alt="person">
            </div>
            <div class="dev__info">
                <h4 class="dev__name">
                    Aman Verma
                </h4>
                <p class="dev__credit">Product Entry</p>
              <!--  <p class="dev__credit">UI Design</p>-->
                <a class="dev__social__link" target="_blank" href="https://www.instagram.com/aman_verma47/"><i
                        class="dev__social__icon fab fa-instagram"></i></a>
        
            </div>
        
        </div>


      
        
      
      
        
    </div>
    

    
</div>
