.dev-wrapper {
	width:90%;
	margin:2em auto;

	
}

.dev__title {
	font-size: 2rem;
	margin: 1em 0;
	color:#1D3557;
}

.devs {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
	grid-auto-rows:60vh;
	grid-gap: 4em;
	justify-content: center;
	/* padding:1em 2em; */
}

.dev {
	/* outline:2px solid red; */
	
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	background-color: white;	
}


.dev__header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:lightslategray;
	/* padding:5em; */
	width: 100%;
	height: 40%; 
	border-radius: 10px 10px 0 0;

}


.dev__image {
	/* max-width: 100%; */
	width: 15vh;
	height:15vh;
	border-radius: 50%;
}

.dev__info {
	width:100%;
	/* height:100%; */
	padding: 2em;
	text-transform: capitalize;
	display: grid;
	grid-gap: 1.5em;
	/* background-color:lightsteelblue; */
	/* color:white; */
}

.dev__name {
	font-size: 1.3rem;
	font-weight: 600;
	color:#1D3557;
	/* color:yellow; */
}

.dev__credit {
	font-size: 0.9rem;
	font-weight: 200;
	color: #6C757D;
}

.dev__social__link {
	/* margin-top:1em; */
	text-align: right;
}
.dev__social__icon {
	color: black;
	font-size: 2rem;
}
