.hero {
	text-align: center;
	margin: 2em auto;
}
.hero__text {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.hero__title {
	font-size: 3rem;
	text-transform: capitalize;
	font-weight: 800;

	color: var(--hero-trendy-text);
	margin-bottom: 0.2em;
}
.hero__stay {
	color: var(--hero-stay-text);
	font-weight: 700;
}

.hero__leading {
	color: var(--hero-leading-text);
	font-size: 1.5rem;
	font-weight: 300;
	padding: 0 2em;
	margin-bottom: 0.5em;
}

.hero__image {
	margin-top: 2em;
	width: 80vw;
	height: 70vh;
	background: url('https://i.pinimg.com/564x/19/74/13/197413db4cee8a74093f969bb0458b80.jpg');
	background-position: top;
	background-size:cover;
	border-radius: 8px;
	background-repeat: no-repeat;
	z-index: -3;
	overflow: hidden;
}

.showcase__title {
	font-size: 2rem;
	font-weight: 800;
	color: var(--showcase-title-text);
	margin-bottom: 0.6em;
	text-transform: capitalize;
}



.carousel__cell {
	width: 32vw;
	height: 32vh;
	margin-right: 1.5em;
}

.carousel__image {
	display: block;
	max-width: 100%;
	height: 80%;
	border-radius: 8px;
}

.carousel__title {
	font-size: 1.2rem;
	font-weight: 300;
	text-align: center;
	color: var(--carousel-title-text);
	margin-top: 0.5em;
}

.flickity-button {
	display: none;
}

.flickity-dots {
	display: none;
}

main {
	display: grid;
	grid-gap: 2.5em;
    padding:1em;
	/* width:90%; */
	margin:0 auto;
	max-width:1200px;

}
main section{
	width:100%;
	overflow:hidden;
}

.categories__container {

	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 35vh;
	padding:0 0 1em 0;
	grid-gap: 2em ;
}
.category__link {
	width: 100%;
	height:100%;
	display:block;

}
.category__image {
	border-radius: 8px;
	width: 100%;
	height:90%;
	display: block;
}
.category__title {
	height:10%;
	text-align: center;
	font-size: 1.1rem;
	font-weight: 400;
	color: var(--carousel-title-text);
	margin-top: 0.7em;
}
.brands__carousel {
	margin-top: 2em;
	margin-bottom: 2em;
}

.brand__cell {
	width: 3.7em;
	height: 3.7em;
	margin-right: 2.5em;
	text-align: center;
}
.brand__image {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.poster__title {
	text-transform: capitalize;
	margin-bottom: 1.5em;

}
.poster__container {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(30vw,1fr));
	grid-auto-rows:32vh;
	grid-gap:2em;
}

.poster__link {
	display: block;
	width: 100%;
	height: 100%;

}
.poster__img {
	display: block;
	border-radius: 8px;
	max-width: 100%;
	height: 100%;
}

.showoff__container {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(45vw,1fr));
	grid-auto-rows:70vh;
	grid-gap:2em;
	
} 

.showoff__link{

	width:100%;
	height:100%;
	display:block;

}
.showoff__image {
	width:100%;
	height:100%;
	display: block;
	border-radius: 8px;
	object-fit: cover;
	object-position: top;


}
