* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

:root{

  --header-bg:#6C63FF;
  --search-bg:#E9ECEF;
  --search-text:#6C757D;
  --hero-stay-text:#1D3557;
  --hero-trendy-text:#FF87AB;
  --hero-leading-text:#8D99AE;
  --showcase-title-text:#1D3557;
  --carousel-title-text:#8D99AE;
  --sidebar-bg:#3D5A80;
  --sidebar-link-text:#E0FBFC;
  --sidebar-link-icon-text:#fff;
  --sidebar-link-hover-text:#FFB703;
  --sidebar-name-text:#fff;
  --products-product-name-text:#2d3436;
  --products-product-price-text:#0984e3;
  --heart-border:#8E9AAF;
  --heart-icon-text: #8E9AAF;
  --heart-icon-active-text: #e74c3c;
  --details-product-name-text:#8E9AAF;
  --details-product-price-text:#1D3557;
  --stock-text: #73A942;
  --size-border:#8E9AAF;
  --size-text:#000;
  --size-bg:#fff;
  --size-hover-bg:#aa96da;
  --size-active-bg:#6C757D;
  --size-hover-text:#fff;
  --size-active-text:#fff;
  --quantity-border:#000;
  --cartBtn-bg:#6C757D;
  --cartBtn-text:#F7FFF7;
  --buyBtn-bg:#FF87AB;
  --buyBtn-text:#fff;
  --description-title-text:#1D3557;
  --description-leading-text:#6C757D;
  --comments-title-text:#1D3557;
  --commentInput-bg:#E9ECEF;
  --commentInput-text:#6C757D;
  --commentInput-border-hover:#000;
  --comment-author-name-text:#1D3557;
  --comment-author-leading-text:#6C757D;
  --likeBtn-text:#000;
  --likeBtn-active-text:#0984e3;
  --likeBtn-hover-text:#0984e3;
  --cart-title-text:#1D3557;
  --cart--total-title-text:#7f8c8d;
  --cart--total-amount-text:#000;
  --cart-checkoutBtn-bg:#FF87AB;
  --cart-checkoutBtn-text:#fff;
  --cart-product-name-text:#1D3557;
  --cart-product-price-text:#0984e3;
  --cart-size-text:#7f8c8d;
  --cart-size-border:#6C63FF;
  --cart-quantity-bg:#73A942;
  --cart-quantity-text:#fff;
  --cart-deleteBtn-bg:#8D99AE;
  --cart-deleteBtn-text:#fff;
  --cart-deleteBtn-hover-bg:#7f8c8d;
  --cart-deleteBtn-hover-text:#000;
  --backArrow-icon-text:#1D3557;
  --backArrow-icon-hover-text:#000;
  --footer-bg:#1D3557;
  --footer-link-text:#fff;
  --footer-link-hover-text:#000;
  --foooter-promises-text:#FF87AB;
  --foooter-line-text:#000;


  


  
  





  


}
img {
  max-width: 100%;
  display:block;
  
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color:#F7FFF7;
}


.sidebar__profile,
.hero__text,
.hero__image {
  margin: 0 auto;
}
.categories__title,
.showcase__title {
  font-size: 2rem;
  font-weight: 300;
  font-style: bold;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
.search__form {
  width: 88%;
}
.hero {
  width: 90%;
}

/* media queries for tablets */
@media screen and (min-width: 760px) {
  :root {
    font-size: 18px;
  }

  main{
    grid-gap:4em;
    padding:2.5em;
  }

  .header {
    padding: 0 3em;
    /* height: 10vh; */
  }
  .sidebar {
    width: 50vw;
  }
  .form {
    height: 10vh;
  }
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .hero__text {
    padding: 3em 0;
  }
  .hero__image {
    width: 50vw;
    height:60vh;
    background-position: center;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: -3;
    overflow: hidden;
  }
  .hero__title {
    font-size: 3.5rem;
    margin-bottom: 0.1em;
  }
  .hero {
    margin-top: 2em;
  }
  .hero__leading {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .hero__text {
    width: 60%;
  }

  .carousel__cell {
    outline:2px sold red;
    width:30vw;
    height:40vh;
    margin-right: 1em;

  }

  .carousel__title {
	font-size: 1.5rem;

}

.categories__title,
.showcase__title {
  font-size: 3rem;
  font-weight: 300;
  
}
.category__title {
	font-size: 2rem;
	font-weight: 400;
	color: gray;
	margin-top: 0.7em;
}
  

  .flickity-button {
    display: block;
  }

  .brand__cell {
    width: 100px;
    height: 100px;
    margin-right: 5em;
  }

  .categories__container {
    display: grid;
    grid-auto-rows: 50vh;
    grid-gap: 3em;
  }

 
  .showoff__container{
    grid-auto-rows:90vh;
    grid-gap:4em;
  }

  .poster__container {
	grid-auto-rows:50vh;
	grid-gap:3em;
}

  .footer__categories {
    margin-left: 5%;
  }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }

  .products__container {
  padding: 0.8em;
  grid-template-columns: repeat(auto-fit,minmax(25vw,1fr));
  grid-auto-rows: 50vh;
  grid-gap:4em;
}


  .products {
    padding: 2em 4em;
  }

  .categories__title {
    text-align: left;
  }


  .product__name {
    font-size: 1.6rem;
  }
  .product__price {
    font-size: 1.4rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .p__image {
    width: 40%;
  }

  .p__image img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 16px;
  }
  .info {
    width: 50%;
  }
  .cart__btn {
    width: 50%;
  }
  .buy__btn {
    width: 50%;
  }
  .comments__container {
    padding: 3em;
  }

  /* cart page */
  .orders {
    padding: 3em;
  }

  .devs {
  grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
	grid-auto-rows:70vh;
	grid-gap: 6em;
}


  .dev-wrapper{
    padding:2em 5em !important;
  }
}

/*Media Queries for pc*/

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }

  .header {
    padding: 0 3em;
    height: 10vh;
  }
  .sidebar {
    width: 25vw;
  }
  .form {
    height: 7vh;
  }
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .hero__text {
    padding: 3em 0;
  }
  .hero__image {
    width: 500px;
    height: 700px;
 
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: -3;
    overflow: hidden;
  }
  .hero__title {
    font-size: 4rem;
    margin-bottom: 0.3em;
  }
  .hero {
    margin-top: 2em;
  }
  .hero__leading {
    font-size: 2rem;
    line-height: 1.5;
  }
  .hero__text {
    width: 40%;
  }

  .carousel__cell {
    width: 200px;
    height: 330px;
    margin-right: 2em;
  }

  .flickity-button {
    display: block;
  }

  .brand__cell {
    width: 100px;
    height: 100px;
  }
  .categories__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80vh;
    grid-gap: 4em;
  }

  .showoff__container,.poster__container {

	grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
	grid-auto-rows:85vh;
	grid-gap:4em;
	

	
} 
  .footer__categories {
    margin-left: 5%;
  }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }

 
.products__container {
  padding: 0.8em;
  grid-template-columns: repeat(auto-fit,minmax(25vw,1fr));
  grid-auto-rows: 100vh;
  grid-gap:3.5em;
}

  .products {
    padding: 2em 4em ;
  }

  .categories__title {
    text-align: left;
  }

  .product__name {
    font-size: 1.4rem;
  }
  .product__price {
    font-size: 1.8rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .p__image {
    width: 35%;
    height: 70%;
  }

  .p__image img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 16px;
  }
  .info {
    width: 50%;
  }
  .cart__btn {
    width: 60%;
  }
  .buy__btn {
    width: 60%;
  }
  .comments__container {
    padding: 3em;
  }

  /* cart page */
  .order__wrapper{
    padding:2em 5em;
  }
  .orders {
    padding: 3em;
  }

  
  
  /* developers page */
}
