<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>sign up page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>
<link rel="stylesheet" href="/stylesheets/main.css">

<link rel="stylesheet" href="/stylesheets/users/login.css">

<body>

    <div id="signup" class="signup">
        <div class="signup__left">
         
            <form action="/users/login" method="POST">
              
                <p class="container__pro-text">Login</p>
                <input class="signup__username" id="email" name="email" type="text" required=true placeholder="email">
                <br>


                <input class="signup__password" id="password" name="password" type="password" required=true
                    placeholder="password">
                <br>


            
                
                <%if(error && error.length>0){%>

                    <p style="color:red">
                        <%=error%>
                    </p>

                    <%}%>

                        <button class="signup__btn">Login</button>

            </form>

            <span class="container__bottom-text">
              
                <a class="container__login-button" href="/users/signup">Create an account</a>
            </span>
        </div>
        <div class="signup__right">

        </div>

    </div>

   

</body>

</html>